<nav>
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="color: #292929; padding-left: 0px; padding-right: 0px;">Roll-up Parameter</a>
    </div>
    <div class="navbar-nav">
      <app-account-menu></app-account-menu>
    </div>
    <ul class="list">
      <li>
        <img src="assets/Icon material-flip.jpg" style="background: transparent;">
        <a href="#" class="hover-line">&nbsp;Flip</a>
      </li>
      <li>
        <img src="assets/Icon material-date-range.jpg">
        <a href="#" class="hover-line">&nbsp;Date</a>
      </li>
      <li>
        <img src="assets/Icon material-import-export.jpg">
        <a href="#" class="hover-line">&nbsp;Export</a>
      </li>
      <li>
        <img src="assets/Icon feather-save.jpg">
        <a href="#" class="hover-line">&nbsp;Save</a>
      </li>
      <li>
        <img src="assets/Icon feather-filter.jpg">
        <a href="#" class="hover-line">&nbsp;Filter</a>
      </li>
      <li>
        <img src="assets/Icon material-select-all.jpg">
        <a href="#" class="hover-line">&nbsp;Select</a>
      </li>
    </ul>
  </div>
</nav>
