<nav>
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="color: #292929;">Roll-up Parameter</a>
     
      <a href="#" class="navbar-brand" style="color: #5F5AF7; display: flex;">
        Account&nbsp;
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="align-self: center;">
            <img src="assets/Icon awesome-chevron-circle-left.jpg" style="width: 15px; height: 15px; display: flex; align-self:center; align-items: center;">
          </a>
          <div class="dropdown-menu" aria-labelledby="accountDropdown">
            <p-dropdown [options]="names" [(ngModel)]= "selectedName1"></p-dropdown>
          </div>
        </div>
      </a>
      
      <style>
      .dropdown:hover .dropdown-menu {
        display: block;
      }
      #productRegionChallenge {
        display: none;
      }
      .dropdown:hover + #productRegionChallenge {
        display: inline;
      }
      </style>
      
    </div>

    <ul class="list">
      <li>
        <img src="assets/Icon material-flip.jpg" style="background: transparent;">
        <a href="#" class="hover-line">&nbsp;Flip</a>
      </li>
      <li>
        <img src="assets/Icon material-date-range.jpg">
        <a href="#" class="hover-line">&nbsp;Date</a>
      </li>
      <li>
        <img src="assets/Icon material-import-export.jpg">
        <a href="#" class="hover-line">&nbsp;Export</a>
      </li>
      <li>
        <img src="assets/Icon feather-save.jpg">
        <a href="#" class="hover-line">&nbsp;Save</a>
      </li>
      <li>
        <img src="assets/Icon feather-filter.jpg">
        <a href="#" class="hover-line">&nbsp;Filter</a>
      </li>
      <li>
        <img src="assets/Icon material-select-all.jpg">
        <a href="#" class="hover-line">&nbsp;Select</a>
      </li>
    </ul>
  </div>
</nav>
