<nav>
    <img class="logo" src="https://ayarainc.com/images/logo_white.png">
    <ul class="menu">
        <li><a href="#" class="hover-line">Deal Manager</a></li>
        <li><a href="#" class="hover-line">SSP Books</a></li>
        <li><a href="#" class="hover-line">Configuration Manager</a></li>
        <li><a href="#" class="hover-line">Manage Admin</a></li>
        <li><a href="#" class="hover-line">Exceptions</a></li>
        <li><a href="#" class="hover-line">Reports</a></li>
    </ul>
    <div>
        <li class="search">
            <form>
              <input type="text" placeholder="Search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </li>

    </div>
   <li class="profile">
    <style>
        a.name {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        a.name span {
        margin-right: 20px;
}
        </style>
        
    <a href="#" class="name">John Doe  &nbsp; <span class="caret"></span>
        <img src="https://www.w3schools.com/w3images/avatar5.png">
    </a>
    
   </li>
</nav>