<nav>
   <img  class=" image"src="https://ayarainc.com/images/logo_white.png"style="padding-left: 11px;">
    <ul class="list">
      <li><a href="#" class="hover-line">Deal Manager</a></li>
      <li><a href="#"class="hover-line">SSP Books</a></li>
      <li><a href="#"class="hover-line">Configuration Manager</a></li>
      <li><a href="#"class="hover-line">Manage Admin</a></li>
      <li><a href="#"class="hover-line">Exceptions</a></li>
      <li><a href="#"class="hover-line">Reports</a></li>
      </ul>
      <div class="search">
         <form action="#">
             <input type="text" placeholder="search" name="search">
             <button>
 
                 <i class=" fa fa-search"
                 style="font-size: 18px;">
             </i>
             </button>
         </form>
     </div>
      <ul> <li><a href="#" class="dropdown-toggle" role="button">John Doe  <span class="caret"></span></a></li>
      </ul>
      <img src="https://www.w3schools.com/w3images/avatar5.png" style="border-radius: 50%; width: 60px; top: 10px;bottom:20px; padding-top: 5px;"
     >
   </nav>
  
          

