nav{
    background-color: #000033;
    padding: 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.logo{
    width: 80px;
    height: 40px;
    margin-left: 25px;

}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.menu li{
    padding: 10px;
    align-items: normal;


}
.menu li a{
    
    position:relative;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
    padding-top: 9px;

}
.menu li a:hover::after{
    content: '';
    height: 3px;
  width: 100%;
  position: absolute;
  background: #5F5AF7;
  left: 0;
  margin-top:49px;
  border-radius: 50px;
  height: 7px;

}
.search input[type=text]
 {
    width: 250px;
    height: 25px;
    border-radius: 25px;
    border: none;
    background-color: #3c6cc7;
    text-align:center;
    color: white;

 }
 .search{
    display: flex;
    margin: 20px;
    align-items: center;
    color: #000033;
    margin-left: 20px;
 }
 .search button{
    background-color: #000033;
    color: #D0D2FF;
    float: right;
    padding: 5px 10px;
    margin-right: 20px;
    border:none;
    cursor: pointer;

 }
ul li a:hover::after{
    content: '';
    height: 3px;
    width: 100%;
    position:absolute;
    background: #5F5AF7;
    left: 0;
    margin-top: 45px;
    border-radius: 50px;
    height: 7px;
}
nav .image{
    top: 10px;
    height: 38px;
    text-align: center;
    align-self: center;
}
ul li a{
    margin-left: 10px;
}
ul li a :hover{
    color: #5F5AF7;
}
.profile a img {
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

.profile a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
  }
 




